@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color : #047ead;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato" , sans-serif;
    line-height: 1.6;
    color: #333;
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
ul{
    list-style: none;
}
p {
    line-height: 1.2;
    font-size: 18px;

}
a {
    text-decoration: none;
    color: #333;
}
img{
    width: 100px;
}

header{
    background-color: var(--primary-color);
    height: 70px;
    color: #fff;
}

.navbar .flex{
    justify-content: space-between;
}

.container {
   max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto ;
    overflow:auto ;
}

.flex{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;

}

 header ul{
    display: flex;
    
}

.navbar ul a{
    padding: 10px;
    margin: 0 5px;
    color: #fff;

}
.navbar ul a:hover{
    border-bottom: 2px solid #fff ;
}

/* footer */
footer{
    text-align: center;
}

.social a{
    margin: 10px;
}







/* Tablet and Below */
@media (max-width:786px){
    footer .grid {
        display: flex;
        flex-direction: column;
    }
}

/* /Mobile Phoneand below */
@media (max-width:500px){
    header{
        height: 110px;
    }

    .flex{
        flex-direction: column;
    }

    header ul{
        background-color: rgba(0, 0, 0,0.1);
        padding: 10px;
        border-radius: 10px;
    }
  
}