@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color : #047ead;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #333;
}

ul{
    list-style: none;
}

p{
   line-height: 1.6;
   font-size: 18px;
}
a {
    text-decoration: none;
    color: #333;
}

h1,h2{
    font-weight: 500;
    line-height: 1.2;
    margin: 10px 0;
}

img{
    max-width: 100%;
}

header{
    height: 70px;
    background-color: var(--primary-color);
    color: #fff;
}

.navbar .flex{
    justify-content: space-between;
}
.container{
    overflow: auto;
    max-width: 1100px;
    padding: 0 40px;
    margin: 0 auto;
}
.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color:#333 ;
    margin: 10px;
}

.features .grid-1 img{
    width: 200px;
    justify-self: flex-end;
}

.grid-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 100%;
}


 ul{
    display: flex;
}
.navbar a {
    padding: 10px;
    margin: 0 5px;
    color: #fff;
}

.navbar a:hover{
    border-bottom: 2px solid #fff ;
    
}

/* /features */

.features{
    height: 300px;
    background-color: var(--primary-color);
}



.features h1{
    font-size: 48px;
}

.features-flex img{
    width: 250px;
    justify-self:flex-end;
}
.sub-head img{
    width: 300px;
    justify-self: flex-end;
}

/* /Sub-head/ */
.sub-head{
    color: var(--dark-color);
}







/* Features-main  */
.grid-3{
    grid-template-columns: repeat(3, 1fr);
}
.features-main .card > i {
    margin-right: 20px;
}

.features-main .grid-1 {
    padding: 30px;
}
.features-main .grid-1 > *:first-child {
    grid-column: 1/span 3;
}
.features-main .grid-1 > *:nth-child(2){
    grid-column: 1/ span 2;
}
.features-main .card{
    transition: transform 0.2s ease-in;
}

.features-main .card:hover{
    transform: translateX(15px);
}







/* /Footer/ */
.footer{
   text-align: center;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
    align-items: center;
    padding:0 20px;
}
footer ul{
    display: grid;
    grid-template-rows: repeat(3 , 1fr) ;
}

footer .social a{
    padding: 10px;
}

/* Sub-heading */
.sub-head{
    color: #333;
}


/* Tablet */

@media (max-width :786px){
    .grid-3{
        display: flex;
        flex-direction: column;
     }
     .features {
         height: 450px;
     }
     .features {
         text-align: center;
        font-size: 48px;
    }
    
    .features-flex img {
        width: 250px;
        justify-self:end;
    }
    .features .grid-1 img{
        margin-top: 2rem;
    }
     .grid-1{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 30px;
         
     }
     .sub-head{
         text-align: center;
     }
}


/* Mobile  */
@media (max-width: 500px){
    header {
        height: 110px;
    }
    .flex{
        flex-direction: column;
    }
    ul{
        padding: 10px;
        background-color: rgba(12, 11, 11, 0.1);
        border-radius: 10px;
    }

    .grid-3{
       display: flex;
       flex-direction: column;
    }

}

@media(max-width:380px){
    .features{
        height: 470px;
        background-color: var(--primary-color);
    }
}